<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<script>
  let a = ['128', '256', '512']
  let b = ['红', '蓝', '紫']
  let c = ['64G', '512G', '128G']
  let arr = [a, b, c]

  console.log(calcDescartes(arr));

  function calcDescartes(array) {
    if (array.length < 2) return array[0] || [];
    return array.reduce((total, currentValue) => {
      let res = [];
      total.forEach(t => {
        currentValue.forEach(cv => {
          if (t instanceof Array) 	// 或者使用 Array.isArray(t)
            res.push([...t, cv]);
          else
            res.push([t, cv]);
        })
      })
      return res;
    })
  }
</script>
</body>
</html>